.profil-container{
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--primary);
    z-index: 10;
    

}

.picture-name-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profil-container img {
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.profil-container a{
    font-size: 1.8rem;
    color: var(--primary)
}

.profil-container a:hover{
    cursor: pointer;
}



