.container {
    display: flex;
    width: 95%;
    max-width: 400px;
    height: 90px;
    background-color: var(--dark);
    border-radius: 25px;
    margin: 10px 0;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;

  }

  .container:hover{
    /* background-color: var(--secondary); */
  }

  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    padding: 2px 15px;
    /* background-color: var(--backgrounds); */
    border-radius: 20px;
    color: var(--primary);
    position: relative;
  }

  .date::after{
    content: '';
    position: absolute;
    right: 5px;
    height: 50px;
    width: .5px;
    background-color: rgba(255, 255, 255, 0.405);
  }


 
  .info-container {
    display: flex;
    padding: 1rem .3rem;
    align-items: center;
    color: white;
  }

  .event-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
  }


  .prevEvents-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    width: 100%;
    max-width: 1400px;
  }

  @media(min-width: 480px){
    .prevEvents-container{
      flex-direction: row;
      /* justify-content: center; */
  
      gap:1rem;
      flex-wrap: wrap;
      width: 95%;
    }
  }

  @media(min-width: 1060px){
    .prevEvents-container{
      justify-content: flex-start;
    }
  }

 