.event-menu{
    
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    /* background-color: var(--dark) ; */
    border-bottom: 1px solid var(--primary);
    /* background-color: var(--primary); */
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.041), -1px -1px 20px 1px rgba(0, 0, 0, 0.067) ;
}

@media(min-width: 470px){
    .event-menu{
        padding:0 20px
    } 
}

.event-menu a{
    
    /* color: var(--primary); */
    text-decoration: none;
    /* border-bottom: 1px solid var(--primary2); */
    /* font-size: 20px; */
    transition: all .3s;
    padding: 20px;
    color: var(--dark);
    
}

.separator{
    content: "";

}



.event-menu a:hover{
    color: var(--tertiary);

}

 .active{
    /* color: var(--tertiary)!important; */
    border-bottom: 1px solid var(--tertiary);

}


@media(min-width: 760px){
   

}