.sidebar{
    position: fixed;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: var(--backgroundsLight) ;
    height: 100%;
    padding: 20px;
    z-index: 1;
    /* width: 150px; */
}


.sidebar a{
    /* color: var(--primary); */
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all .3s;
}

.sidebar a:hover{
    color: var(--tertiary);
}

 .active{
    color: var(--tertiary)!important;
}

.sidebar span{
    display: none;
}

@media(min-width: 760px){
    .sidebar span{
        display:inline;
    }

}