@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* color: var(--dark); */
}

body{
  margin: 0;
 
}

a{
  text-decoration: none;
  color: black
}

p{
  font-weight: 200;
}

h1{
  font-weight: 600;
}

h2{
  font-weight: 500;
}

h3{
  font-weight: 400;
}

h4{
  font-weight: 300;
}

svg{
  display: inline;
}