:root {
    --primary800: #0D1F2D;
    --primary600: #0d1f2dc0;
    --primary500: #12324A;
    --secondary600: #f57637;
    --secondary400: #F38148;
    --secondary300: #d7845a;
    --error50: #fc9191;
    --error200: #eb4e4e;
    --error500: #e30f28e1;
}